.lottie-loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px 0;
  width: 100%;
}

/* Dark mode styles */
.dark-mode .lottie-loading-container svg path {
  stroke: var(--neon-blue) !important;
}

/* Light mode styles */
.light-mode .lottie-loading-container svg path {
  stroke: #0a2de3 !important;
}
